<div class="box wide">
  <div class="legend">
    Nouvel article
  </div>

  <%= form_for @blog_post do |f| %>
    <%= render partial: "form", locals: { f: f } %>

    <div class="box">
      <div class="boxline actions">
        <%= f.submit "Publier" %>
        <%= link_to "Annuler", blog_posts_path %>
      </div>
    </div>
  <% end %>
</div>
