<h2>Le Journal du hacker</h2>
<div class="box wide">
  <p>
    Le <a href="/">Journal du hacker</a> a pour ambition de présenter l'activité des hackers francophones,
    du mouvement du Logiciel Libre et open source en langue française, mais aussi des startups et du mouvement
    entrepreunarial de la communauté francophone.
  </p>

  <p>
    Le Journal du hacker s'inspire directement du site anglophone <a href="https://news.ycombinator.com">Hacker News</a>
    car l'idée de base est excellente mais propose d'aller plus loin en offrant un moteur
    <a href="https://github.com/JournalDuHacker/journalduhacker.net">basé sur un logiciel libre</a> fonctionnant par
    cooptation afin de créer une vraie communauté responsable. Il suffit de
    <a href="/invitations/request">demander une invitation</a> pour nous rejoindre et partager vos infos avec nous ;)
  </p>
</div>

<h2>Les acteurs du Journal du hacker</h2>
<div class="box wide">
  <p>En tant que <strong>lecteur</strong> vous avez accès au <a href="/">site</a> et vous pouvez :</p>
  <ul>
    <li>Lire les <a href="/comments">commentaires</a> sans toutefois pouvoir y participer</li>
    <li>Suivre la publication des articles via <a href="/rss">RSS</a>,
        <a href="https://diaspora-fr.org/people/2869e360d32501396cf10ade3d3189c4">Diaspora</a> ou
        <a href="https://framapiaf.org/@journalduhacker">Mastodon</a></li>
    <li>Suivre uniquement les étiquettes (tags) qui vous intéressent par RSS exemple
        <a href="/t/conteneurs.rss">Conteneurs</a>, il suffit de se rendre sur <a href="/filters">Filtres</a>
        de cliquer sur une étiquette et de rajouter .rss sur l'URL ainsi
        <a href="/t/linux">https://www.journalduhacker.net/t/linux</a> devient
        <a href="/t/linux.rss">https://www.journalduhacker.net/t/linux.rss</a> pour suivre cette étiquette par RSS</li>
    <li>Vous pourrez y faire des <a href="/search">recherches</a></li>
  </ul>

  <p>En tant qu'<strong>utilisateur inscrit</strong>, vous pourrez :</p>
  <ul>
    <li>Participer aux <a href="/comments">commentaires</a></li>
    <li>Voter pour faire remonter en haut de la page d'<a href="/">accueil</a> les articles que vous appréciez</li>
    <li><a href="/stories/new">Soumettre des articles</a> (vidéos et podcasts compris)</li>
    <li><a href="/filters">Filtrer</a> selon les étiquettes qui vous intéressent pour afficher uniquement certaines
        étiquettes sur la page d'<a href="/">accueil</a></li>
  </ul>

  <p>
    Le Journal du hacker est un outil simple de veille pour la sphère professionnelle, une fenêtre vers le monde du
    Libre, du Hacking, de l'Open source dans la sphère privée, une bibliothèque des meilleurs articles en langue
    française grâce à la <a href="/search">fonction de recherche</a>. Il est animé par nos
    <a href="/u">contributeurs</a> bénévoles qui sont impliqués dans la communauté.
  </p>
</div>

<h2>Les données publiques du Journal du hacker</h2>
<div class="box wide">
  <p>
    Une copie de la base de données du Journal du hacker est mis à disposition de la communauté afin qu'elle puisse
    réutiliser les informations présentes sur le Jdh. Ce dump est généré chaque jour à 1h du matin et purgé des
    informations confidentielles (notamment des adresses mails et mots de passe), il est téléchargeable ici :
    <a href="/assets/database/journalduhacker.sql.tar.gz">journalduhacker.sql.tar.gz</a>
  </p>
</div>

<h2>Informations</h2>
<div class="box wide">
  <p>
    L'outil est entièrement traduit en français et basé sur le projet
    <a href="https://github.com/lobsters/lobsters">lobste.rs</a> dont vous trouverez la licence
    <a href="https://github.com/lobsters/lobsters/blob/main/LICENSE">ici</a>.
  </p>
  <p>Adresse de contact : <a href="mailto:contact@journalduhacker.net">contact@journalduhacker.net</a></p>
</div>
