<div class="box wide">
  <div class="legend"><%= @title %></div>

  <div class="story_content">
    <h2>Chat</h2>
    <p>Keep it on-site</p>

    <p>
      Pour discuter avec la communauté, utilisez les commentaires sur les articles ou participez aux discussions.
    </p>
  </div>
</div>
