<div class="box wide">
  <div class="legend"><%= @title %></div>

  <div class="story_content">
    <h2>Politique de confidentialité</h2>

    <p>
      Toutes les actions sur le site sont publiques à l'exception des messages privés entre utilisateurs.
      Les actions de modération peuvent être consultées via le <%= link_to "Journal de modération", "/moderations" %>.
    </p>

    <h3>Données collectées</h3>
    <p>
      Le Journal du hacker collecte uniquement les informations nécessaires au fonctionnement du service :
    </p>
    <ul>
      <li>Adresse email (pour la création de compte et les notifications)</li>
      <li>Nom d'utilisateur</li>
      <li>Vos contributions (histoires, commentaires, votes)</li>
    </ul>

    <h3>Utilisation des données</h3>
    <p>
      Vos données personnelles ne sont pas partagées avec des tiers.
      Vos contributions publiques (histoires, commentaires) sont visibles par tous les visiteurs du site.
    </p>

    <h3>Licence du contenu</h3>
    <p>
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0/deed.fr">
        <img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
      </a>
      <br />
      <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Le Journal du hacker</span>
      est mis à disposition selon les termes de la
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0/deed.fr">licence Creative Commons Attribution 4.0 International</a>.
    </p>
  </div>
</div>
